# Ignore compiled Python bytecode files
*.pyc
# Ignore Python cache directories
**/__pycache__/
# Ignore slides folder
/ML_toolbox_slides/
# Ignore environment-specific settings
.env
# Ignore editor-specific files
.vscode/
.idea/
*.sublime-*

*.png